h1
  font-family: 'Playfair Display'
  font-weight: 400
  font-size: 16px

p
  font-family: 'Source Sans Pro'
  font-weight: 300

.outline-box
  display: flex
  padding: 50px 75px
  outline: 1px solid grey
  margin: 50px
  flex-direction: column
  align-items: center

.accomplishments p
  font-size: 24px

.h1Accomp
  font-family: Playfair Display
  margin-left: .5em
  font-size: 36px

.accomplishment-next
  float: right

.accomp-signedout
  margin-left: 2em

.accomp-signedout .button
  width: fit-content
  padding: 10px 10px

.accomp-signedout .photo-header
  text-align: center

.add-accomp .tag-title
  font-family: 'Source Sans Pro'
  position: left
  text-align: left

.demo-photo
  display: block
  margin-left: auto
  margin-right: auto
  width: 75%
  outline: 1px solid grey
  margin-bottom: 2em

.demo-photo, .odd
  background-color: #0000
  padding: 3vw

.accompTextarea
  font-family: "Source Sans Pro"
  font-size: 16px
  border-radius: 10px
  padding: .75em
  width: 80%

.encrgCenter
  margin: 2em
  position: center
  text-align: center
  margin-bottom: 2em

.encrg-bottom-padding
  margin-bottom: 2em

.encrg-p
  margin: 1.25em
  font-family: "Source Sans Pro"

.tag-btn-list .selected
  background-color: #eaeaea
  color: #7f7f81

.tag-btn-list .active
  opacity: 1

.tag-btn-list .active
  outline: 2px solid #6EB6FF

.center-img
  display: block
  margin-left: auto
  margin-right: auto

.viewAccompBtn
 width: fit-content
 padding: 10px, 10px
 float: right

.viewAccompBtn2
  width: fit-content
  padding: 10px, 10px
  float: center
  margin-left: 2em
  height: 45px

.clickHereBtn
  margin-left: 2em
  height: 45px
  float: center

.nextBtn
  float: right
  width: fit-content
  padding: 10px, 10px

.accompText
  display: flex
  flex-direction: row

.backToBank
  display: flex
  flex-direction: column
  align-items: center

.addNewAccomp
  display: flex
  flex-direction: column
  align-items: center

.nextButton
  background-color: #437557
  border-color: #437557
  color: #ffffff
  font-size: 1rem
  text-align: center
  padding: 1.5% 2%
  border-radius: 12px
  font-family: 'Source Sans Pro', sans-serif
  font-weight: 400

.rmv-underline:link
  text-decoration: none
  text-align: center
  padding: 10px 10px

.nextButton
  display: block
