h1 {
  font-family: 'Playfair Display';
  font-weight: 400;
  font-size: 16px;
}

p{
  font-family: 'Source Sans Pro';
  font-weight: 300;
}

.outline-box {
  padding: 50px 75px;
  outline: 1px solid grey;
  margin: 50px;
}

.accomplishments p{
  font-size: 24px;
}

.h1Accomp { 
  font-family: Playfair Display;
  margin-left: .5em;
}

.accomplishment-next {
  float: right;
}

.demo-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.demo-photo, .odd {
  background-color: #0000;
  padding: 3vw;;
}

.accompTextarea {
  font-family: "Source Sans Pro";
  font-size: 16px;
  border-radius: 10px;
  padding: .75em;
  width: 80%;
}

.encrgCenter { 
  margin: 2em;
  position: center;
  text-align: center;
  margin-bottom: 2em;
}

.encrg-bottom-padding { 
  margin-bottom: 2em;
}

.encrg-p { 
  margin: 1em;
  font-family: Source Sans Pro;
}

.tag-btn-list .selected {
  background-color: #eaeaea;
  color: #7f7f81;
}

.tag-btn-list .active {
  opacity: 1;
}

/* .tag-btn-list .technical .active { */
.tag-btn-list .active {
  /* outline: 1px solid black; */
  outline: 2px solid #6EB6FF;
  /* box-shadow: 5px 10px; */
}