.accomplishments {
  padding: 10px;
}

.h1Accomp { 
  font-family: Playfair Display;
  margin-left: .5em;
}

.accomplishment-next {
  float: right;
}

.demo-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.demo-photo, .odd {
  background-color: #0000;
  padding: 3vw;;
}

.accompTextarea {
  font-family: "Source Sans Pro";
  font-size: 16px;
  border-radius: 10px;
  padding: .75em;
}

.encrgCenter { 
  margin: 2em;
  position: center;
  text-align: center;
  margin-bottom: 2em;
}

.encrg-bottom-padding { 
  margin-bottom: 2em;
}

.encrg-p { 
  margin: 1em;
  font-family: Source Sans Pro;
}