.bank-title {
  font-family: Playfair Display;
  text-align: center;
}

.tag-container {
  margin-left: 20px;
}

.card-list {
  display: block;
  justify-content: space-between;
}

.bank-h1 { 
  display: block;
  font-family: Playfair Display;
  margin-left: .5em;
}