.bank-title {
  font-family: Playfair Display;
  text-align: center;
}

.tag-container {
  margin-left: 20px;
}

.card-list {
  justify-content: center;
}

.bank-h1 { 
  font-family: Playfair Display;
  font-weight: 400;
  font-size: 36px;
  margin-left: .5em;
}

.tag-title { 
  font-family: Playfair Display;
  font-weight: 400;
  font-size: 28px;
  margin-left: .5em;
}