.card-list p {
  font-family: Arial;
  display: flex;
  justify-content: center;
}

.card-item .description {
  display: flex;
  flex-wrap: wrap;
}

.card-item {
  font-family: 'Source Sans Pro';
  text-align: center;
  position: relative;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 5px 5px 10px black;
  margin: auto;
  width: 60%;
  /* margin-top: 20px; */
  /* margin-bottom: 10px; */
  background-color: #FDEDDE;
  /* order: 5; */
  /* margin-left: 2em; */
  min-width: 400px;
  max-width: 400px;
  flex-grow: 4;
}

ol {
  padding-left: 0px;
}

.card-item-container {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column wrap;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  align-items: flex-start;
  padding: 3em;
}

.btn-delete {
  display: inline;
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: center;
  background-color: #FDEDDE;
  border: #FDEDDE;
  color: black;
  margin: 5px;
  padding: 15px;
}

.btn-edit {
  display: inline;
  position: relative;
  margin: 5px;
}