
.tag-test {
  font-size: 16px;
  text-align: center;
  border: none;
  margin: 0.2rem;
  padding: 10px 24px;
  border-radius: 10%;
}

.technical {
  background-color: green;
  color: white;
}

.selected {
  background-color: lightgrey;
  color: black;
}

/* .button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4CAF50; 
  color: white;
} */