nav .navigation {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FDEDDE;
  padding: .75rem;
}

.home-font { 
  font-family: Playfair Display;
  font-size: 24px;
  margin-left: -35px;
}

.link-font { 
  font-family: Source Sans Pro;
}

nav .navigation .navbar-link {
  color: black;
  text-decoration: none;
}

nav .navigation li {
  display: inline;
  margin-right: 1rem;
}

nav .navigation li .initials {
  display: inline;
  margin-right: 1rem;
  border: 3px;
  border-style:solid;
  border-color:#4698ED;
  padding: 1em;
  border-radius: 100px;
}

.navvy:hover,
.navvy:focus,
.navvy:active {
  color: white;
  border-bottom: .4rem solid black;
  padding-bottom: .5rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /* transform: rotate(180deg); */
}

.nav-left { 
  display: none;
  position: relative;
  float: right;
  padding-top: .4em;
  font-size: 20px;
}

nav button {
  /* background-color: transparent; */
  display: relative;
  color: black;
  border-color: transparent;
  font-size: 20px;
  text-align: center;
  border-radius: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  height: 50px;
  border-style: solid;
  vertical-align: middle;
  font-weight: bold;
}

nav button:hover, .button:hover {
  box-shadow: none;
}

.closeIcon {
  display: none;
}

/* .menu {
  position: fixed;
  /* transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  /* z-index: 99;
  background: black;
  color: white;
  list-style: none;
  padding-top: 4rem;
} */ 

.carrot-menu {
  position: relative;
  float: right;
  padding-top: .4em;
  font-size: 20px;  
  margin-right: 1rem;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  background: transparent;
  cursor: pointer;
}

.carrot-icon {
  display: inline;
  float: right;
  margin-top: 9px;
  margin-left: -50px;
}

@media (min-width: 1160px) {
  nav button { 
    display: none
  }

  .nav-left { 
    display: block;
  }
}