nav .navigation {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FDEDDE;
  padding: .75rem;
}

.home-font { 
  font-family: Playfair Display;
  font-size: 24px;
  margin-left: -35px;
}

.link-font { 
  font-family: Source Sans Pro;
}

nav .navigation .navbar-link {
  color: black;
  text-decoration: none;
}

nav .navigation li {
  display: inline;
  margin-right: 1rem;
}

nav .navigation li .initials {
  display: inline;
  margin-right: 1rem;
  border: 3px;
  border-style:solid;
  border-color:#4698ED;
  padding: 1em;
  border-radius: 100px;
}

.navvy:hover,
.navvy:focus,
.navvy:active {
  color: white;
  border-bottom: .4rem solid black;
  padding-bottom: .5rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /* transform: rotate(180deg); */
}

.nav-left { 
  display: none;
  position: relative;
  float: right;
  padding-top: .4em;
  font-size: 20px;
}

nav button {
  /* background-color: transparent; */
  display: relative;
  color: black;
  border-color: transparent;
  font-size: 20px;
  text-align: center;
  border-radius: 0px;
  font-family: 'PLayfair Display';
  font-weight: 600px;
  height: 70px;
  border-style: solid;
  vertical-align: middle;
  font-weight: bold;
  margin-top: -37px;
  margin-left: 20px;
}

nav button:hover, .button:hover {
  box-shadow: none;
}

.closeIcon {
  display: none;
}

 /* .menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: black;
  color: white;
  list-style: none;
  padding-top: 4rem;
}  */

.carrot-menu {
  position: relative;
  float: right;
  padding-top: .4em;
  font-size: 20px;  
  margin-right: 1rem;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  background: transparent;
  cursor: pointer;
}

.carrot-icon {
  display: inline;
  float: right;
  margin-top: 9px;
  margin-left: -50px;
}

.showMenu {
  transform: translateY(0);
}

@media (min-width: 1160px) {
  nav button { 
    display: none
  }

  .nav-left { 
    display: block;
  }
}

/* drop down menu */

h3, label {
    font-family: Playfair Display;
}

.menu-heading {
  margin-left: 1em;
}

.dropDown {
  display: block;
  position: fixed;
  box-shadow: 0 50px 500px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* backdrop-filter: blur(10px); */
  right: -90px;
  top: 8%;
  transform: translate(-50%, 5%);
  z-index: 9;
  width: 230px;
  max-width: 500px;
  outline: 1px solid grey;
  border-radius: 10px;
  text-align: left;
  text-decoration: none;
}
.dropDown {
  border-radius: 10px;
  max-width: 500px;
  padding: 5px;
  background-color: white;
  padding-bottom: 20px;
}
.dropDown input[type=text],
.dropDown input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 2px 0 10px 0;
  border: none;
  background: #eee;
}
.dropDown input[type=text]:focus,
.dropDown input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.dropDown .btn {
  border: none;
  background-color: #437557;
  color: #fff;
  cursor: pointer;
  width: fit-content;
  padding: 10px 20px;
  margin: 1em;
}

.popup-btn-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.dropDown .cancel {
  background-color: #a9a9a9;
  float: center;
}
.dropDown .btn:hover,
.openButton:hover {
  opacity: 1;
}

.p-background {
  background-color: #fff;
  outline: 1px solid grey;
  padding: .25em;
  border-radius: 10px;
}

.dropdownInitials {
  text-align: center;
}

.navigation ul .keepStrengthen  { 
  display: none
}

.navigation ul .dropStrengthen  { 
  display: inline;
}

@media (min-width: 750px) {
  .navigation ul .dropStrengthen  { 
    display: none
  }

  .navigation ul .keepStrengthen  { 
    display: inline;
  }
}