nav .navigation {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FDEDDE;
  padding: .75rem;
}

.home-font { 
  font-family: Playfair Display;
  font-size: 24px;
}

.link-font { 
  font-family: Source Sans Pro;
}

nav .navigation .navbar-link {
  color: black;
  text-decoration: none;
}

nav .navigation li {
  display: inline;
  margin-right: 1rem;
}

nav .navigation li .initials {
  display: inline;
  margin-right: 1rem;
  border: 3px;
  border-style:solid;
  border-color:#4698ED;
  padding: 1em;
  border-radius: 100px;
}

.navvy:hover,
.navvy:focus,
.navvy:active {
  color: white;
  border-bottom: .4rem solid black;
  padding-bottom: .5rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /* transform: rotate(180deg); */
}

.nav-left { 
  position: relative;
  float: right;
  padding-top: .4em;
  font-size: 20px;
}