@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Source+Sans+Pro:wght@200;300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");

.results h2{
    text-align: center;
    font-family: 'Source Sans Pro';
    font-weight: 300px;
}

.results p {
    text-align: center;
    font-family: 'Source Sans Pro';
    font-weight: 400px;
}

.content h1 {
    text-align: center;
    font-family: 'Playfair Display';
}

.disclaimer {
    text-align: right;
    padding: 25px;
    font-family: 'Source Sans Pro';
}

.instructions {
    text-align: center;
    font-family: 'Source Sans Pro';
    padding-left: 250px;
    padding-right: 250px;
    overflow-wrap: normal;
    font-size: 20px;
}

.quiz-title {
    text-align: center;
    font-family: 'Playfair Display';
}

.quiz-page {
    padding-left: 75px;
    padding-right: 75px;
}