.tag-btn-list {
    display: flex;
}

.tag-btn-item {
    font-size: 16px;
    text-align: center;
    border: none;
    margin: 0.2rem;
    padding: 10px 24px;
    border-radius: 10%;
    opacity: 0.5;
}

.tag-btn-list .active {
  opacity: 1;
}

.tag-btn-list .technical {
  background-color: #cdebd2;
  /* opacity: 0.5; */
}

.tag-btn-list .soft-skills {
  background-color: #E4D7FF;
  /* opacity: 0.5; */
}

.tag-btn-list .kudos {
  background-color: #DADEFF;
  /* opacity: 0.5; */
}