/* Centers and aligns video */
.imposter-content .float-video {
  float: center;
  margin: 1em;
}

.imposter-content {
  margin-left: .5em;
  margin-right: .5em;
}

.imposter-content h1{ 
  font-family: Playfair Display;
  margin-left: .5em;
  font-size: 32px;
}

.imposter-content h2{ 
  font-family: Playfair Display;
  margin-left: .5em;
}

.imposter-content p { 
  font-family: Source Sans Pro;
  margin-left: 1em;
}

/* Adjusts image sizes based on screen size */
.imposter-content .page-image {
  height:auto;
  max-width:50%;

  display: block;
  margin-left: auto;
  margin-right: auto;

}

/* Adjusts video player size based on screen size */
@media (min-width: 600px) {


}
@media (min-width: 768px) {

  .imposter-content .page-image{
      max-width: 40%;
  }

}

@media (min-width: 992px) {

  .imposter-content .float-video{
      float:right;
  }

  .imposter-content .page-image{
      max-width: 30%;
  }

}