.tag-list,
.tag-btn-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tag-btn-list {
  padding-left: 6em;
  padding-right: 6em;
}

.tag-item {
  font-size: 16px;
  text-align: center;
  border: none;
  margin: 0.2rem;
  padding: 10px 24px;
  border-radius: 10%;
}

.tag-btn-list .tagBtnItem {
  margin: 0.5em;
  align-content: center;
}

.tag-list .technical,
.tag-btn-list .technical {
  background-color: var(--color-tag-technical);
}

.tag-list .soft-skills,
.tag-btn-list .soft-skills {
  background-color: var(--color-tag-soft-skills);
}

.tag-list .kudos,
.tag-btn-list .kudos {
  background-color: var(--color-tag-kudos);
}

.tag-list .award,
.tag-btn-list .award {
  background-color: var(--color-tag-award);
}

.tag-list .training,
.tag-btn-list .training {
  background-color: var(--color-tag-training);
}

.tag-list .special-projects,
.tag-btn-list .special-projects {
  background-color: var(--color-tag-special-projects);
}

.tag-list .volunteer,
.tag-btn-list .volunteer {
  background-color: var(--color-tag-volunteer);
}

.tag-list .promotion,
.tag-btn-list .promotion {
  background-color: var(--color-tag-promotion);
}

.tag-list .idea,
.tag-btn-list .idea {
  background-color: var(--color-tag-idea);
}

.tag-list .innovation,
.tag-btn-list .innovation {
  background-color: var(--color-tag-innovation);
}

.tag-list .miscellaneous,
.tag-btn-list .miscellaneous {
  background-color: var(--color-tag-miscellaneous);
}

.tag-btn-list .selected {
  background-color: var(--color-inactive);
  color: var(--color-inactive-text);
}

.tag-btn-list .active {
  opacity: 1;
  outline: 2px solid var(--color-focus-ring);
}
